*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html,body{
	height: 100%;
}

.container{  
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.clear{
	clear: both;
}

header{
    background-color: rgb(77, 41, 21);    
    width: 100%;
    padding: 3px 2%;
}

.logo1{
    float: left;
    width: 160px;
    height: 120px;
    background-image: url('../image/logo1.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    /*background-color: green;*/
}

.logo2{
    float: right;
    width: 160px;
    height: 110px;
    background-image: url('../image/xicara.png');
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center;
}

section.cover-form{
    width: 100%;
    padding: 0 2%;
}

.bg{
    height: 560px;
    background-position: center;
    background-size: cover;
    /*background-repeat: no-repeat;*/
    background-image: url('../image/bg-form.jpg');
}

.form-container{
    border-radius: 3%;
    float: right;
    margin-right: 30px;
    width: 350px;
    height: 90%;
    position: relative;
    top: 5%;
    background-color: rgba(77, 41, 21,0.7);
}

.form-container h2{
    font-weight: normal;
    padding: 30px 15px;
    color: black;
    font-size: 18px;
    background-color: rgba(255,255,255,0.7);
}

.form-container form{
    padding: 15px;
    margin-top: 8px;
}

.form-container form p{
    font-size: 13px;
    color: #525252;
}

.form-wraper:not(:first-child){
    margin-top: 20px;
}

.form-wraper:last-child{
    margin-top: 20px;
}

.form-container form input[type=text]{
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    border: 1px solid #ccc;
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
}

.form-container form input[type=submit]{
    background-color: rgba(255,255,255,0.8);
    text-transform: uppercase;
    color: black;
    width: 100%;
    margin-top: 20px;
    font-size: 25px;
    height: 50px;
    cursor: pointer;
    border: 0;
    border-radius: 5%;
}



@media screen and (max-width: 359px){
    header{
        text-align: center;
    }

    .logo1, .logo2{
        margin-top: 10px;
        display: inline-block;
        float: none;
    }
}
